<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>QR Code Generator</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
        crossorigin="anonymous">
</head>
    <body>
        <div class="container shadow" style="width: 800px; margin-top: 5em; padding: 2em">
            <form method="post">
                {% csrf_token %}
            </form>
            <div class="input-group mb-3">
                <div class="input-group mb-3">
                    <p style="margin: auto;"> Website ของคุณ : 127.0.0.1:8080/id/?elder==elder_id </p>
                </div>
                
                    <div style="margin: auto;">
                        {{ svg|safe }}
                    </div>
                <div class="input-group mb-3">
                    <input type="submit" value="กดเพื่อสร้าง QR Code" style="max-width: 200px; margin: auto; border-color: black;border-radius: 10px;" class="form-control" >
                </div>
            </div>
        </div>
    </body>
</html>