{% load static %}
<!DOCTYPE html>  
<html lang="en">  
    <head> 
        <meta charset="UTF-8">  
        <title>INPUT YOUR INFORMATION</title>
        <link rel="stylesheet" href="{% static '/assets/css/data.css' %}"/>  
        <link rel="icon" href="#">
    </head>  
    <body>  

        <div class="header">
            <div class="header-right">
            </div>
            <div id="name" style="margin-left: 125px;">กรอกข้อมูล</div>
        </div>
       
        <form method="post" class="post-form" enctype="multipart/form-data"> 
            {% csrf_token %}
            {{form.as_p}}
            
        
        <center><button type="submit" class="button default" style="border-radius: 15px;width: 150px;height: 50px;font-size: 20px;font-family: Sukhumvit Set;">Save</button></center>  



        </form>  
    </body>  
</html>  

