{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Game Accounts</title>
        <link rel="stylesheet" href="{% static 'assets/css/style3.css' %}"/>
    </head>
    
    <body>
        <div class="bar">
            <div class="back">
                <a href="{% url 'home' %}"><img src="{% static 'assets/img/left-arrow.png' %}" alt="logo" width="100" height="100"></a>
            </div>
            <div>
                <div class = "nameInBar">Game Accounts</div>
                <img src="{% static 'assets/img/controller.png' %}" width="130px" height="130px" style="float: right; margin-top: 30px; margin-right: 10px;">
            </div>
        </div>
        <center><a href="https://apps.apple.com/th/app/garena-rov-dragon-kingdom/id1150337432"><button class="button default"><img src="{% static 'assets/img/rov.png' %}" class= "inButton" alt="logo" width="100" height="100"><div class="nameIn">ROV</div></button></a></center>

        <center><a href="https://apps.apple.com/th/app/pubg-mobile-aftermath/id1330123889"><button class="button default"><img src="{% static 'assets/img/pubg.png' %}" class= "inButton" alt="logo" width="100" height="100"><div class="nameIn">Pub G Mobile</div></button></a></center>

        <center><a href="https://apps.apple.com/th/app/efootball-pes-2021/id1117270703"><button class="button default"><img src="{% static 'assets/img/pes.png' %}" class= "inButton" alt="logo" width="100" height="100"><div class="nameIn">PES 2021</div></button></a></center>

        <center><a href="https://apps.apple.com/th/app/nba-2k-mobile-basketball-game/id1252850847"><button class="button default"><img src="{% static 'assets/img/nba.png' %}" class= "inButton" alt="logo" width="100" height="100"><div class="nameIn">NBA2K21</div></button></a></center>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <div class="navbar">
            <div style="margin-top: 10px; float: left; margin-left: 50px;">
                <a href="tel:{{ sm.phone }}"><img src="{% static 'assets/img/phone.png' %}" alt="logo" width="120" height="120"></a>
           </div>
            <div style="margin-top: 10px; float: left; margin-left: 200px;">
                 <a href="{% url 'home' %}"><img src="{% static 'assets/img/home.png' %}" alt="logo" width="130" height="130"></a>
            </div>
            <div style="float: right;margin-top: 10px;margin-right: 50px;">
                <a href="https://www.youtube.com/watch?v=tQ0yjYUFKAE"><img src="{% static 'assets/img/youtube.png' %}" alt="logo" width="120" height="120"></a>
            </div>
        </div>

    </body>
</html>