{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Hobbies</title>
        <link rel="stylesheet" href="{% static 'assets/css/style4.css' %}"/>
    </head>
    
    <body>
        <div class="bar">
            <div class="back">
                <a href="{% url 'home' %}"><img src="{% static 'assets/img/left-arrow.png' %}" alt="logo" width="100" height="100"></a>
            </div>
            <div>
                <div class = "nameInBar">Hobbies</div>
                <img src="{% static 'assets/img/artist.png' %}" width="130px" height="130px" style="float: right; margin-top: 30px; margin-right: 30px;">
            </div>
        </div>
        <center><a href="https://monkeytype.com"><button class="button default"><img src="{% static 'assets/img/freetime.png' %}" class= "inButton" alt="logo" width="100" height="100"><div class="nameIn">My Free Time</div></button></a></center>

        <center><a href="https://www.youtube.com/watch?v=kTJczUoc26U"><button class="button default"><img src="{% static 'assets/img/music.png' %}" class= "inButton" alt="logo" width="100" height="100"><div class="nameIn">Favourite Song</div></button></a></center>

        <center><a href="https://www.netflix.com/watch/70293702?trackId=13752289&tctx=0%2C3%2C011a3583747bcb481c44b68051b82b14c4a61779%3A16c9c8a6588102f4e1b20af8c40a6226bba6c02c%2C011a3583747bcb481c44b68051b82b14c4a61779%3A16c9c8a6588102f4e1b20af8c40a6226bba6c02c%2Cunknown%2C%2C%2CtitlesResults"><button class="button default"><img src="{% static 'assets/img/popcorn.png' %}" class= "inButton" alt="logo" width="100" height="100"><div class="nameIn">Favourite Movie</div></button></a></center>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <div class="navbar">
            <div style="margin-top: 10px; float: left; margin-left: 50px;">
                <a href="tel:{{ sm.phone }}"><img src="{% static 'assets/img/phone.png' %}" alt="logo" width="120" height="120"></a>
           </div>
            <div style="margin-top: 10px; float: left; margin-left: 200px;">
                 <a href="{% url 'home' %}"><img src="{% static 'assets/img/home.png' %}" alt="logo" width="130" height="130"></a>
            </div>
            <div style="float: right;margin-top: 10px;margin-right: 50px;">
                <a href="https://www.youtube.com/watch?v=tQ0yjYUFKAE"><img src="{% static 'assets/img/youtube.png' %}" alt="logo" width="120" height="120"></a>
            </div>
        </div>

    </body>
</html>