{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>SM Card</title>
        <link rel="stylesheet" href="{% static 'assets/css/style1.css' %}"/>
    </head>
    
    <body>
        <div class="bar">
            <div style="float: right; margin-right: 300px;">
                SM CARD
            </div>
            <div style="float: left; margin-top: 35px; margin-left: 40px;">
                <img src="{% static 'assets/img/sm_logo.png' %}" width="125px" height="125px">
            </div>
        </div>
        <div class="bgBio">
            <div>
                    <img src="{{ sm.profile_img }}" class= "profile" alt="logo" width="300" height="300">
            </div>
            <div class="bio">
                <div class="InBio">
                        {{ sm.name }} {{ sm.surname }}
                
                    <hr>
                    <div class="personal">
                        <p>{{sm.career}}</p>
                        <p>{{sm.city}}</p>
                        <p>{{sm.bio}}</p>
                    </div>
                </div>
            </div>
        </div>

        <center><a href="{% url 'social_media' %}"><button class="button default"><img src="{% static 'assets/img/social-media.png' %}" class= "inButton" alt="logo" width="100" height="100"><div class="nameIn">Social Media</div></button></a></center>

        <center><a href="{% url 'game' %}"><button class="button default"><img src="{% static 'assets/img/controller.png' %}" class= "inButton" alt="logo" width="100" height="100"><div class="nameIn">Game Accounts</div></button></a></center>

        <center><a href="{% url 'Hobby' %}"><button class="button default"><img src="{% static 'assets/img/artist.png' %}" class= "inButton" alt="logo" width="100" height="100"><div class="nameIn">My Hobbies</div></button></a></center>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <div class="navbar">
            <div style="margin-top: 10px; float: left; margin-left: 50px;">
                <a href="tel:{{ sm.phone }}"><img src="{% static 'assets/img/phone.png' %}" alt="logo" width="120" height="120"></a>
           </div>
            <div style="margin-top: 10px; float: left; margin-left: 200px;">
                 <a href="{% url 'home'%}"><img src="{% static 'assets/img/home.png' %}" alt="logo" width="130" height="130"></a>
            </div>
            <div style="float: right;margin-top: 10px;margin-right: 50px;">
                <a href="https://www.youtube.com/watch?v=tQ0yjYUFKAE"><img src="{% static 'assets/img/youtube.png' %}" alt="logo" width="120" height="120"></a>
            </div>
        </div>

    </body>
</html>