{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Social Media</title>
        <link rel="stylesheet" href="{% static 'assets/css/style2.css' %}"/>
    </head>
    
    <body>
        <div class="bar">
            <div class="back">
                <a href="{% url 'home' %}"><img src="{% static 'assets/img/left-arrow.png' %}" alt="logo" width="100" height="100"></a>
            </div>
            <div>
                <div class = "nameInBar">Social Media</div>
                <img src="{% static 'assets/img/social-media.png' %}" width="130px" height="130px" style="float: right; margin-top: 30px; margin-right: 20px;">
            </div>
        </div>
        <center><a href="https://www.facebook.com/thapakon23"><button class="button default"><img src="{% static 'assets/img/facebook.png' %}" class= "inButton" alt="logo" width="100" height="100"><div class="nameforFB">{{sm.fb}}</div></button></a></center>

        <center><a href="https://www.instagram.com/23_thapakon/"><button class="button default"><img src="{% static 'assets/img/instagram.png' %}" class= "inButton" alt="logo" width="100" height="100"><div class="nameIn">{{sm.ig}}</div></button></a></center>

        <center><a href="www.tiktok.com/@thapakon23"><button class="button default"><img src="{% static 'assets/img/tiktok.png' %}" class= "inButton" alt="logo" width="100" height="100"><div class="nameIn">{{sm.tiktok}}</div></button></a></center>

        <center><a href="https://line.me/ti/p/ktQlUSCHlY"><button class="button default"><img src="{% static 'assets/img/line.png' %}" class= "inButton" alt="logo" width="100" height="100"><div class="nameIn">{{sm.line}}</div></button></a></center>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <div class="navbar">
            <div style="margin-top: 10px; float: left; margin-left: 50px;">
                <a href="tel:{{ sm.phone }}"><img src="{% static 'assets/img/phone.png' %}" alt="logo" width="120" height="120"></a>
           </div>
            <div style="margin-top: 10px; float: left; margin-left: 200px;">
                 <a href="{% url 'home' %}"><img src="{% static 'assets/img/home.png' %}" alt="logo" width="130" height="130"></a>
            </div>
            <div style="float: right;margin-top: 10px;margin-right: 50px;">
                <a href="https://www.youtube.com/watch?v=tQ0yjYUFKAE"><img src="{% static 'assets/img/youtube.png' %}" alt="logo" width="120" height="120"></a>
            </div>
        </div>

    </body>
</html>