
body { 
  background-color: rgb(44, 44, 44);
}

.header {
  overflow: hidden;
  background-color: rgb(25, 111, 61);
}

.header-right {
  float: right;
  margin-right: 25pt;
}

.image-cropper{
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

#name {
    font-family: 'Sukhumvit Set';
    font-size: 60px;
    text-align: center;
    margin-left: 40px;
    margin:auto;
    color: rgb(255, 255, 255);
    padding: 20px; 
    font-weight: bold; 
}

.OnTheRight{
  float:right;
  text-align: center;
  margin-right: 60px ;
  margin-top: 40px;
  font-size: 40px;
}

.OnTheLeft{
  float:left;
  text-align: center;
  margin: auto ;
  margin-left: 60px;
  margin-top: 40px;
}


.pull-inLeft{
  float: right;
  font-family: 'Sukhumvit Set';
  font-size: 20px;
  font-weight: bold;
  line-height: 50px;
  margin-right: 35px;
}

.pull-left{
  float:left;
}

.pull-name{
  font-family: 'Sukhumvit Set';
  font-size: 30px;
  font-weight: bold;
  line-height: 60px;
  text-align: center;
}

#rcorner-name{
  background-color: white;
  font-size: 15px;
  border-color: black;
  border-radius: 40px;
  margin-top: 20px;
  width: 270px;
  height: 60px;
  margin-left: 20px;
  margin-bottom: 110px;
}

#rcorner-left{
  background-color: white;
  font-size: 15px;
  border-color: black;
  margin-top: 40px;
  width: 300px;
  height: 50px;
  margin-left: 20px;
  border-radius: 25px;
  margin-bottom: 30px;
}

#rcorner-sos{
  background-color: rgb(231, 38, 38);
  font-size: 50px;
  font-family: 'Sukhumvit Set';
  font-weight: 500;
  color: white;
  line-height: 120px;
  border-color: black;
  border-radius: 70px;
  width: 450px;
  height: 120px;
  margin-top: 20px;
  margin-bottom: 30px;
}

#rcorner-right{
  background-color: white;
  font-size: 15px;
  border-color: black;
  border-radius: 70px;
  width: 450px;
  height: 480px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.pull-health{
  float:left;
  font-size: 35px;
  font-family: 'Sukhumvit Set';
  text-align: left;
  margin-left: 50px;
  margin-top: 15px;
}

#rcorner-center{
  background-color: rgb(255, 255, 255);
  font-size: 15px;
  border-color: black;
  border-radius: 50px;
  width: 800px;
  height: 600px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.help{
  margin-top: 900px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.help2{
  font-size: 40px;
  font-family: 'Sukhumvit Set';
  font-weight: 500px;
  line-height: 100px;
  margin-top: 20px;
  color: white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.in_help1{
  float:left;
}

.in_help1 p{
  font-size: 30px;
  font-family: 'Sukhumvit Set';
  text-align: left;
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 20px;
}

.other{
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#square-left{
  float : left;
  background-color: rgb(255, 255, 255);
  font-size: 15px;
  border-color: black;
  border-radius: 50px;
  width: 350px;
  height: 450px;
  margin-top: 10px;
  margin-left: 80px;
  text-align: center;
}

#square-right{
  float : right;
  background-color: rgb(255, 255, 255);
  font-size: 15px;
  border-color: black;
  border-radius: 50px;
  width: 350px;
  height: 450px;
  margin-top: 10px;
  margin-right: 80px;
  text-align: center;
}

.in_other{
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.oth{
  font-size: 40px;
  font-family: 'Sukhumvit Set';
  font-weight: 500px;
  line-height: 100px;
  margin-top: 5px;
  color: rgb(0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.button {
  background-color: rgb(74, 185, 124);
  font-family: 'Sukhumvit Set';
  font-weight: bold;
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  margin: 4px 2px;
  border-radius: 15px;
  width: 200px;
  height: 50px; 
  line-height: 20px;
}

.button2 {
    background-color: rgb(155, 9, 9);
    font-family: 'Sukhumvit Set';
    font-weight: bold;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    margin: 4px 2px;
    border-radius: 15px;
    width: 200px;
    height: 50px; 
    line-height: 20px;
}

.button3 {
  background-color: rgb(250, 48, 149);
  font-family: 'Sukhumvit Set';
  font-weight: bold;
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  margin: 4px 2px;
  border-radius: 15px;
  width: 200px;
  height: 50px; 
  line-height: 20px;
}

.button4 {
  background-color: rgb(248, 142, 43);
  font-family: 'Sukhumvit Set';
  font-weight: bold;
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  margin: 4px 2px;
  border-radius: 15px;
  width: 200px;
  height: 50px; 
  line-height: 20px;
}

.default:hover {
    background: rgb(106, 209, 120);
    color: rgb(0, 0, 0);
}

.default2:hover {
    background: rgb(255, 158, 158);
    color: rgb(0, 0, 0);
}

.default3:hover {
  background: rgb(255, 158, 255);
  color: rgb(0, 0, 0);
}

.default4:hover {
  background: rgb(255, 205, 158);
  color: rgb(0, 0, 0);
}