.header {
    overflow: auto;
}

body{
    background-color: #20c997;
}

#name {
    font-family: 'Sukhumvit Set';
    font-size: 60px;
    text-align: center;
    margin-left: 40px;
    margin:auto;
    color: rgb(0, 0, 0);
    padding: 20px; 
    font-weight: bold; 
}

.square{
    background-color: rgb(78, 78, 78);
    width: 800px;
    height: auto;
    border-radius: 120px;
    margin: auto;
}

.onTheLeft{
    float: "left";
    margin-left: 100px;
    margin-top: 30px;
}

.onTheRight{
    float: "right";
}

.inPersonal{
    margin-top: 20px;
    color: white;
    margin-left: 175px;
}


label{
    font-size: 25px;
    font-family: 'Sukhumvit Set';
    text-align: center;
}

input{
    border-radius: 10px;
    width: 250px;
    height: 50px;
}

.type{
    font-size: 30px; 
    margin-left: 100px; 
    margin-top: 30px; 
    font-family: 'Sukhumvit Set';
    font-weight: 400;
}

textarea{
    border-radius: 10px;
}

::placeholder{
    text-align: center;
    font-size: 20px;
    font-family: 'Sukhumvit Set';
    color:rgb(122, 122, 122)
} 

.button {
    background-color: rgb(74, 185, 124);
    font-family: 'Sukhumvit Set';
    font-weight: bold;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    margin: 4px 2px;
    border-radius: 15px;
    width: 200px;
    height: 50px; 
    line-height: 20px;
  }

.default:hover {
    background: rgb(106, 209, 120);
    color: rgb(0, 0, 0);
}




