{% load static %}
<!DOCTYPE html>  
<html lang="en">  
    <head> 
        <meta charset="UTF-8">  
        <title>INPUT YOUR INFORMATION</title>
        <link rel="stylesheet" href="{% static '/assets/css/style3.css' %}"/>  
        <link rel="icon" href="#">
    </head>  
    <body>  

        <div class="header">
            <div class="header-right">
                  <img src="{% static '/assets/img/Logo.png' %}" alt="logo" width="100" height="100" style="margin-top: 10px;">
            </div>
            <div id="name" style="margin-left: 125px;">กรอกข้อมูล</div>
          </div>
       
        <form method="post" class="post-form" enctype="multipart/form-data"> 
            {% csrf_token %}
            
        <div class = "square" style="margin-top: 25px;">
            <br>
            <div style="font-size: 30px; font-family: Sukhumvit Set; font-weight: 600;color: white;text-align: center;">ข้อมูลส่วนตัว</div>
            <br>

                    <div class = "inPersonal">
                        <label for="id_elder_name">ชื่อ :</label> <input style="margin-left: 58px;" type="text" name="elder_name" placeHolder="name" maxlength="50" id="id_elder_name">
                    </div>

                    <div class = "inPersonal">
                        <label for="id_elder_surname">นามสกุล :</label> <input type="text" name="elder_surname" placeHolder="surname" maxlength="50" id="id_elder_surname">
                    </div>

                    <div class = "inPersonal">
                        <label for="id_elder_id">เลข ID :</label> <input style="margin-left: 23px;" type="text" name="elder_id" maxlength="7" placeHolder="id" required id="id_elder_id">
                    </div>


                    <div class = "inPersonal">
                        <label for="id_elder_gender">เพศ :</label> 
                        <select name="elder_gender" id="id_elder_gender" style="width: 250px; height: 50px; border-radius: 10px;margin-left: 48px;">
                            <option style="text-align: center;" value="" selected>--------------------</option>
                            <option style="text-align: center;" value="female">หญิง</option>
                            <option style="text-align: center;" value="male">ชาย</option>
                            <option style="text-align: center;" value="male">อื่น ๆ</option>
                        </select>
                    </div>

                    <div class = "inPersonal">
                        <label for="id_elder_nickname">ชื่อเล่น :</label> <input style="margin-left: 23px;" type="text" name="elder_nickname" placeHolder="nickname" maxlength="50" id="id_elder_nickname">
                    </div>

                    <div class = "inPersonal">
                        <label for="id_elder_birth">วันเกิด :</label> <input style="text-align: center; font-family: Sukhumvit Set;margin-left: 23px;" type="date" name="elder_birth" id="id_elder_birth">
                    </div>

                    <div class = "inPersonal">
                        <label for="id_elder_age">อายุ :</label> <input style="margin-left: 48px;margin-bottom: 50px;" type="text" name="elder_age" placeHolder="age" id="id_elder_age">
                    </div>

        </div>
        <br>
        <br>

        <div class = "square">
            <br>
            <div style="font-size: 30px; font-family: Sukhumvit Set; font-weight: 600;color: white;text-align: center;">ข้อมูลสุขภาพ</div>
            <br>

                    <div class = "inPersonal">
                        <label for="id_elder_weight">น้ำหนัก:</label> <input style="margin-left: 52px;" type="text" name="elder_weight" placeHolder="weight" maxlength="50" id="id_elder_weight">
                    </div>

                    <div class = "inPersonal">
                        <label for="id_elder_height">ส่วนสูง:</label> <input style="margin-left: 52px;" type="text" name="elder_height"placeHolder="height" maxlength="50" id="id_elder_height">
                    </div>

                    <div class = "inPersonal">
                        <label for="id_elder_blood">กรุ๊ปเลือด:</label> 
                    <select name="elder_blood"id="id_elder_blood" style="width: 250px; height: 50px; border-radius: 10px;margin-left: 30px;">
                        <option style="text-align: center;" value="" selected>---------</option>
                        <option value="ab">AB</option>
                        <option value="a">A</option>
                        <option value="b">B</option>
                        <option value="o">O</option>
                    </select>
                    </div>

                    <div class = "inPersonal">
                        <label for="id_elder_disease">โรคประจำตัว:</label> <input type="text" name="elder_disease" maxlength="50" id="id_elder_disease">
                    </div>
                    
                    <div class = "inPersonal">
                        <label for="id_elder_food">อาหารที่แพ้:</label> <input style="margin-left: 15px;"type="text" name="elder_food" maxlength="50" id="id_elder_food">
                    </div>

                    <div class = "inPersonal">
                        <label for="id_elder_medicine">ยาที่แพ้:</label> <input style="margin-left: 52px;" type="text" name="elder_medicine" maxlength="50" id="id_elder_medicine">
                    </div>

                    <div class = "inPersonal">
                        <label for="id_elder_useMedicine">ยาที่ใช้ประจำ:</label> <input type="text" name="elder_useMedicine" maxlength="50" id="id_elder_useMedicine">
                    </div>

                    <div class = "inPersonal">
                        <label for="id_elder_cure">การรักษา:</label>
                    </div>
                    <center><textarea name="elder_cure" cols="40" rows="10" id="id_elder_cure">
                    </textarea></center>

                    <div class = "inPersonal">
                        <label for="id_elder_help">การให้ความช่วยเหลือ:</label>
                    </div>
                    <center><textarea name="elder_help" cols="40" rows="10" id="id_elder_help">
                    </textarea></center>
                    <br>
                    <br>
        </div>

        <br><br>


        <div class = "square">
            <br>
            <br>
            <div style="font-size: 30px; font-family: Sukhumvit Set; font-weight: 600;color: white;text-align: center;">ช่องทางติดต่อ</div>

            <div class = "inPersonal">
                <label for="id_elder_address">ที่อยู่:</label> <textarea name="elder_address" cols="40" rows="10" id="id_elder_address">
                </textarea>
            </div>

            <div class = "inPersonal">
                <label for="id_elder_phone">เบอร์โทร:</label> <input style="margin-left: 28px;" type="text" name="elder_phone" maxlength="50" id="id_elder_phone">
            </div>

            <div class = "inPersonal">
                <label for="id_elder_fb">Facebook:</label> <input style="margin-left: 7px;"type="text" name="elder_fb" maxlength="50" id="id_elder_fb">
            </div>

            <div  class = "inPersonal">
                <label for="id_elder_line">Line:</label> <input style="margin-left: 64px;" type="text" name="elder_line" maxlength="50" id="id_elder_line">
            </div>

            <div  class = "inPersonal">
                <label for="id_elder_song">เพลงที่ชอบ:</label> <input type="text" name="elder_song" maxlength="50" id="id_elder_song">
            </div>

            <div  class = "inPersonal">
                <label for="id_elder_actor">ดาราที่ชอบ:</label> <input type="text" name="elder_actor" maxlength="50" id="id_elder_actor">
            </div>

            <div  class = "inPersonal">
                <label for="id_elder_movie">ภาพยนตร์ที่ชอบ:</label> 
            </div>
            <center style="margin-left: 40px"><input type="text" name="elder_movie" maxlength="50" id="id_elder_movie"></center>

            <div  class = "inPersonal">
                <label for="id_profile_img">รูปโปรไฟล์:</label> <input type="file" name="profile_img" accept="image/*" required id="id_profile_img">
            </div>

            <div>
                <center><button type="submit" class="button default" style="border-radius: 15px;width: 150px;height: 50px;font-size: 20px;font-family: Sukhumvit Set;">Save</button></center>  
            </div>
            <br>
            <br>
        </div>



        </form>  
    </body>  
</html>  

