{% load static %}
<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>WED</title>
        <link rel="stylesheet" href="{% static '/assets/css/style1.css' %}"/>
    </head>

        <body>
        
        <div class="header">
          <div class="header-right">
                <img src="{% static '/assets/img/Logo.png' %}" alt="logo" width="130" height="130" style="margin-top: 10px;">
          </div>
          <div id="name" style="margin-left: 150px; margin-top: 20px;">WED</div>
        </div>

       <div class = "OnTheLeft" >
           <div style="margin-bottom: 30px;">
                <img src="{% get_static_prefix %}{{ profile_img }}" class= "image-cropper" alt="logo" width="300" height="300">
           </div>
           <div id="rcorner-name">
                <div class = "pull-name">
                    {{elder.elder_name}} {{elder.elder_surname}}
                </div>
            </div>
            <div id="rcorner-left">
                <div class="pull-left">
                    <img src="{% static '/assets/img/facebook.png' %}" alt="logo" width="45" height="45"style="margin-left: 3px; margin-top: 2px;"> 
                </div>
                <div class = "pull-inLeft">
                    {{elder.elder_fb}}
                </div>
            </div>
            <div id="rcorner-left">
                <div class="pull-left">
                    <img src="{% static '/assets/img/line.png' %}" alt="logo" width="50" height="50"> 
                </div>
                <div class = "pull-inLeft">
                    <div style="margin-right: 50px;">{{elder.elder_line}}</div>
                </div>
            </div>
            <div id="rcorner-left">
                <div class="pull-left">
                    <img src="{% static '/assets/img/phone2.png' %}" alt="logo" width="45" height="45" style="margin-left: 3px; margin-top: 3px;"> 
                </div>
                <div class = "pull-inLeft">
                    <div style="margin-right: 50px;">{{elder.elder_phone}}</div>
                </div>
            </div>
       </div>

        <div class = "OnTheRight" >
           <div id="rcorner-sos">
                แจ้งเหตุฉุกเฉิน
           </div>
            <div class = "pull-left" style="font-family: 'Sukhumvit Set'; line-height: 85px; margin-left: 100px; font-size: 40px; font-weight: 500; color: white;">
                ข้อมูลสุขภาพ
            </div>
            <div>
                <img src="{% static '/assets/img/hospital.png' %}" alt="logo" width="50" height="50" style="margin-top: 15px; margin-right:70px;">
            </div>
           <div id ="rcorner-right">
                <div class="pull-health">
                        อายุ : {{elder.elder_age}} ปี<br> 
                        กรุ๊ปเลือด : {{elder.elder_blood}}<br> 
                        น้ำหนัก : {{elder.elder_weight}} กก.<br>
                        ส่วนสูง : {{elder.elder_height}} ซม.<br>
                        โรคประจำตัว : {{elder.elder_disease}}<br>
                        ยาที่ใช้ประจำ : {{elder.elder_useMedicine}}<br>
                        ยาที่แพ้ : {{elder.elder_medicine}}<br>
                        อาหารที่แพ้ : {{elder.elder_food}}<br>                 
                </div>
           </div>
        </div>

            <div class = "help">
                <img src="{% static '/assets/img/medical.png' %}" alt="logo" width="150" height="150">
            </div>
            <div class="help2">
                วิธีให้ความช่วยเหลือ
            </div>   

        <div id="rcorner-center">
            <div class = "in_help1">
                <p>ประวัติการรักษา : {{elder.elder_cure}}</p>
                <p>วิธีให้ความช่วยเหลือ : {{elder.elder_help}}</p>
            </div>
        </div>


            <div class = "other">
                <img src="{% static '/assets/img/favourite.png' %}" alt="logo" width="150" height="150">
            </div>
            <div class="help2">
                ข้อมูลอื่น ๆ
            </div>


        <div id="square-left">
            <div class = "in_other">
                <img src="{% static '/assets/img/home-address.png' %}" alt="logo" width="100" height="100">
            </div>
            <div class="oth">
                ที่อยู่
            </div>
            <div style="font-family: 'Sukhumvit Set';font-size: 25px;">
                {{elder.elder_address}}
            </div>
           
        </div>

        <div id="square-right">
            <div class = "in_other">
                <img src="{% static '/assets/img/lover.png' %}" alt="logo" width="100" height="100">
            </div>
            <div class="oth">
                สิ่งที่ชอบ
            </div> 
            <div style="font-family: 'Sukhumvit Set';font-size: 25px;text-align:center; margin-left: 10px;">
                <div>เพลงที่ชอบ : {{elder.elder_song}}</div>

                <div style="margin-top: 15px;">ดาราที่ชอบ : {{elder.elder_star}}</div>
                
                <div style="margin-top: 15px;">ภาพยนตร์ที่ชอบ : {{elder.elder_movie}}</div>
               
            </div> 
        </div>

        </body>
</html>

