body{
    background-color: rgb(39, 39, 39);
}
.bar{
    background-color: rgb(89, 0, 255);
    text-align: center;
    color: rgb(255, 255, 255);
    overflow: hidden;
    width: 100%;
    height: 200px;
    line-height: 200px;
    font-size: 80px;
    font-family: "Sukhumvit Set";
    font-weight: bold;
    border-radius: 20px;
}

.bgBio{
    background-color: rgb(0, 0, 0);
    width: auto;
    height: 500px;
    margin-top: 20px;
    border-radius: 40px;
    box-shadow: 5px 5px white;
}

.profile{
    float: left;
    margin-top: 100px;
    margin-left: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.bio{
    float: right;
    margin-right: 80px;
}

.InBio{
    font-family: "Sukhumvit Set";
    font-size: 50px;
    font-weight: bold;
    margin-top: 40px;
    color: white;
}
.personal{
    font-size: 40px;
    font-weight: 500;
    font-family: "Sukhumvit Set";
    margin-top: 30px;
    color: white;
}

.button{
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    height: 150px;
    width: 820px;
    margin-top: 100px;
}

.default:hover {
    background: rgb(92, 92, 92);
    color: rgb(0, 0, 0);
}

.inButton {
    float: left;
    margin-left: 30px;
}

.nameIn{
    margin-right: 80px;
    margin-top: 10px;
    font-size: 60px;
    font-weight: 700;
    color: white;
    font-family: "Sukhumvit Set";
}

.navbar {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 170px;
}
  
.navbar a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
