body{
    background-color: rgb(39, 39, 39);
}

.bar{
    background-color: rgb(89, 0, 255);
    margin: auto;
    color: rgb(255, 255, 255);
    overflow: hidden;
    width: auto;
    height: 200px;
    border-radius: 20px;
    padding: 14px 16px;
}

.back{
    float: left;
    margin-top: 50px;
}

.nameInBar{
    float: left;
    text-align: center;
    line-height: 150px;
    font-size: 80px;
    font-family: "Sukhumvit Set";
    font-weight: bold;
    margin-top: 20px;
    margin-left: 110px;
}

.button{
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    height: 150px;
    width: 820px;
    margin-top: 100px;
}


.default:hover {
    background: rgb(92, 92, 92);
    color: rgb(0, 0, 0);
}

.inButton {
    float: left;
    margin-left: 30px;
}

.nameIn{
    margin-right: 120px;
    margin-top: 10px;
    font-size: 60px;
    font-weight: 700;
    color: white;
    font-family: "Sukhumvit Set";
}

.navbar {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 170px;
}
  
.navbar a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}