<!DOCTYPE html>

<html>
    <head>
        <meta charset= "utf-8">
        <title>Hello DjangoForumApp </title>
    </head>

    <body>
        {% block title %}
        {% endblock %}

        {% block content %}
        {% endblock %}
    </body>

</html>