{% extends "base.html" %}

{% block title %}
  <h1> List of posts </h1>
{% endblock %}

{% block content %}
    {% if post_list %}
    <ul>
    {% for post in post_list %}
       <li> {{ post.post_text }}: {{ post.pub_date }}, by {{post.author.first_name}} {{post.author.last_name}} </li>
    {% endfor %}

    {% else %}
       <p> No posts are available </p>
    {% endif %}

{% endblock %}